<div class="icons-bento-grid">
  @for(icon of iconDetails(); track $index){
  <div class="skill-item" matRipple [matRippleRadius]="20" data-aos="zoom-in" data-aos-delay="50" data-aos-offset="0">
    <div class="icon-wrapper">
      @if(icon.iconName === "Angular"){
      <div class="svg-image">
        <app-icons [icon]="icon.iconName"></app-icons>
      </div>
      }@else {
      <img [src]="icon.iconUrl" [alt]="icon.iconName" class="svg-image" />
      }
    </div>
    <div class="skill-name">
      {{ icon.iconName }}
    </div>
  </div>
  }
</div>