.rounded-div {
    width: 7dvw;
    /* Adjust the width of the div */
    height: 7dvw;
    /* Adjust the height of the div */
    background-color: var(--highlight-color);
    /* Adjust the background color of the div */
    border-radius: 50px;
    /* Make the div rounded */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4dvw;
    margin-top: 0;
    color: var(--background-color);
}


.list {
    color: var(--secondary-color);
    list-style: none;
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: large;
}

.menu {
    cursor: pointer;
    user-select: none;
}

.menu:hover {
    color: var(--color);
}

.mode {
    cursor: pointer;
}

.color-pallete-head {
    cursor: pointer;
}

::ng-deep .colors-pallete-body {
    background-color: var(--background-color) !important;
    & div {
        & button {
            color: var(--color) !important;
        }
    }
   
}

::ng-deep .mat-menu-item {
    color: var(--color) !important;
}