<div class="navbar-wrapper animate__animated animate__fadeInDown">
  <div class="floating-nav">
    <div class="brand">
      <span class="logo-text font-roboto-slab cursor-pointer" (click)="scrollTo(null)">AGT</span>
    </div>

    <nav class="nav-items font-alegreya-sans">
      <a (click)="scrollTo('about')" class="nav-link">Architect</a>
      <a (click)="scrollTo('portfolio')" class="nav-link">Projects</a>
      <a (click)="scrollTo('contact')" class="nav-link">Connect</a>
    </nav>

    <div class="controls">
      <button mat-icon-button (click)="changeMode()" class="icon-btn">
        <mat-icon [fontIcon]="this.commonService.isDarkMode ? 'light_mode' : 'dark_mode'"></mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu" class="icon-btn">
        <mat-icon fontIcon="palette"></mat-icon>
      </button>

      <mat-menu #menu="matMenu" xPosition="before" class="theme-menu">
        @for(pallete of colorGalaries; track $index){
        <button mat-menu-item (click)="setColorPallete(pallete)">
          <span [style.color]="pallete.value === 'Dark' ? '#000' : pallete.value">{{pallete.value}}</span>
        </button>
        }
      </mat-menu>
    </div>
  </div>
</div>