<div class="row mt-5 mb-5 d-flex justify-content-center align-items-center animate__animated animate__bounceIn">
     <div class="col-3">
        <div class="d-flex justify-content-center align-items-center">
            <div class="rounded-div font-noto-sans">{{getDifferenceInYearsAndMonths()}} yr's</div>
        </div>
     </div>
     <div class="col-6">
        <ul class="list d-flex justify-content-center align-items-center h-100 m-0 p-0">
            <li class="mx-3 menu" (click)="scrollTo('about')">About</li>
            <li class="mx-3 menu" (click)="scrollTo('portfolio')">Portfolio</li>
            <li class="mx-3 menu" (click)="scrollTo('contact')">Contact</li>
        </ul>
     </div>
     <div class="col-3 d-flex justify-content-evenly">
       <mat-icon (click)="changeMode()" matRipple class="mode" [fontIcon]=" this.commonService.isDarkMode ? 'light_mode' : 'dark_mode'"></mat-icon>
       <mat-icon [matMenuTriggerFor]="menu" class="color-pallete-head" fontIcon="format_color_fill" matRipple ></mat-icon>
       <mat-menu class="colors-pallete-body" #menu="matMenu" xPosition="before">
        @for(pallete of colorGalaries; track $index){
          <button mat-menu-item class="mat-menu-item" (click)="setColorPallete(pallete)">{{pallete.value}}</button>
        }
      </mat-menu>
     </div>
</div>