.image-back {
    // mix-blend-mode: multiply;
    max-width: 100%;
    height: auto;
    object-position: center 40%;
    /* Zoom in (1.25) and move DOWN (50px) to create top space */
    transform: scale(1.25) translateY(50px);
}

.blend-mode {
    mix-blend-mode: soft-light;
}


@media screen and (max-width: 1100px) {
    .image-back {
        transform: scale(1.25) translateY(30px);
    }
}

// @media screen and (max-width: 768px) {
//     .image-container{
//       display: flex;
//       justify-content: center;
//     //   margin: 0 20px 0 20px;
//     }
//     .image-back {
//         // mix-blend-mode: multiply;
//         border: 6dvw solid var(--highlight-color);
//         box-shadow:  var(--highlight-color) 0px 48px 100px 0px;
//         border-radius: 10px;
//         max-width: calc(90% - 5px);
//         height: auto;
//     }
// }