.button {
    background-color: var(--highlight-color);
    color: var(--background-color);
    border: none;
    border-radius: 5px;
    padding: 1dvw 2dvw;
    cursor: pointer;
    text-align: center;
    font-family: "Alegreya Sans", sans-serif;
    font-size: large;
    font-weight: 500;
}