.button {
    background-color: var(--highlight-color);
    color: var(--background-color);
    border: none;
    border-radius: 5px;
    padding: 0.6dvw 2dvw;
    cursor: pointer;
    text-align: center;
}