<div class="section-container" id="testimonial">
    <div class="testimonial-card" data-aos="fade-up" data-aos-delay="200">
        <div class="quote-icon">
            <mat-icon fontIcon="format_quote"></mat-icon>
        </div>

        <p class="quote-text font-alegreya-sans">
            {{testimonial.appreciation}}
        </p>

        <div class="author-section">
            <div class="author-avatar">
                <img src="images/profile.png" alt="Suji Kumar">
            </div>
            <div class="author-info">
                <h4 class="author-name font-roboto-slab">{{testimonial.by}}</h4>
                <p class="author-position font-alegreya-sans">{{testimonial.byPosition}}</p>
            </div>
        </div>
    </div>
</div>