.image-back {
  // mix-blend-mode: multiply;
  max-width: 100%;
  height: auto;
}
.blend-mode {
  mix-blend-mode: soft-light;
}

.image-container {
  display: flex;
  justify-content: center;
  //   margin: 0 20px 0 20px;
}
// .image-back {
//   // mix-blend-mode: multiply;
//   border: 6dvw solid var(--highlight-color);
//   box-shadow: var(--highlight-color) 0px 48px 100px 0px;
//   border-radius: 10px;
//   max-width: calc(90% - 5px);
//   height: auto;
// }
