.main-container {
    background-color: var(--background-color);
    color: var(--color);
    width: 100%;
    height: 100dvh;
    overflow: auto;
    scroll-behavior: smooth;
    box-sizing: border-box;
}


.no-select {
    -ms-user-select: none; /* Disable text selection */
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For Firefox */
    user-select: none; /* For older versions of Internet Explorer */
  }