@import "fonts.scss";

[data-theme="dark"] {

   --background-color: #31333b;
   --color: #FFFFFF;
   --secondary-color: #a0a0a1;
   --yellow-color: #ffc86b;
   --card-background-color: #3d3e42;
   --icon-card-hover-background: #f0bf6c;
   --year-card-background: #5d5d60;

}