/* You can add global styles to this file, and also import other style files */
@import "assets/theme.scss";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;

    ::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background-color: var(--background-color);
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: var(--background-dark-color);
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: var(--background-dark-color);
    }
}