.heading {
    font-size: 3.8dvw;
    font-weight: 500;
}

.yellow-line {
    background-color: var(--highlight-color);
    border-radius: 0.4dvw;
    height: 0.2dvw;

}

.color {
    color: var(--highlight-color);
}

.line {
    width: 100%;
    margin-top: 2.3dvw;
}

.content {
    margin-top: 1.2dvw;
    font-weight: 400;
    font-size: 2dvw;
    line-height: 2.5dvw;
}

.skills-section{
    margin-top: 5dvw;
}

@media screen and (max-width: 768px) {
    .heading {
        font-size: 6dvw;
    }
    .line {
        margin-top: 3dvw;
    }
    .content {
        margin-top: 1.3dvw;
        font-weight: 300;
        font-size: 4dvw;
        line-height: 5dvw;
    }
}