<div class="row">
    <div class="col-12">
        <span class="heading font-roboto-slab">About</span>
    </div>
    <div class="col-2 col-md-1">
        <div class="yellow-line line"></div>
    </div>
    <div class="col-10 col-md-11">
        <p class="content font-alegreya-sans">
            Skilled software developer proficient in Angular, React, MongoDB, Node.js, an Express.js. Capable of
            building robust web applications and collaborating effectively within teams. Committed to staying updated
            with <span class="color">emerging technologies and continuously enhancing skills</span> to drive innovation
            and excellence in software development.
        </p>
    </div>
    <div class="col-12 skills-section">
        <div class="d-flex justify-content-center">
            <span class="heading font-roboto-slab">My Skills</span>
        </div>
    </div>
    <div class="col-12 mt-4">
        <app-skills></app-skills>
    </div>
</div>