<div class="row profile-container">
    <div class="col-12">
        <app-top-bar></app-top-bar>
    </div>
    <div class="col-12">
        <app-profile></app-profile>
    </div>
</div>

<div class="row flat-container" #about>
    <div class="col-12">
        <app-about></app-about>
    </div>
</div>

<div class="row flat-container" #portfolio>
    <div class="col-12">
        <app-portfolio></app-portfolio>
    </div>
</div>

<div class="row experience-container">
    <div class="col-12">
        <app-experience></app-experience>
    </div>
</div>

<div class="row mt-5">
    <div class="col-12">
        <app-testimonial></app-testimonial>
    </div>
</div>

<div class="row mt-5" #contact>
    <div class="col-12">
        <app-contact></app-contact>
    </div>
</div>

<!-- <div class="row my-5">
    <div class="col-12">
        <app-resume></app-resume>
    </div>
</div> -->

<div class="row m-5">
    <div class="col-12 text-center font-roboto-slab thanks-for-scrooling">
        "Thanks For Scrolling"
    </div>
</div>