<div class="row">

    <div class="col-12 container">
        <div class="top-line-text font-roboto-slab">Contact Me</div>
         


        <div class="row">
            <div class="col-12 d-flex justify-content-center mt-4">
                <button matRipple (click)="goTo(links.mail)" class="button me-2 font-alegreya-sans"><mat-icon fontIcon="mail"></mat-icon> aswinthgt&#64;gmail.com  </button>
                <button matRipple (click)="goTo(links.tel)" class="button ms-2 font-alegreya-sans"><mat-icon fontIcon="call"></mat-icon>+91 9025294492</button>
            </div>
            <div class="col-12 d-flex justify-content-center mt-4 mb-5">
                <button matRipple (click)="goTo(links.location)" class="button mx-2 font-alegreya-sans"><mat-icon fontIcon="location_on"></mat-icon> Kochi, Kerala, India  </button>
            </div>
        </div>


        <div class="bottom-line-text">
            <div class="d-flex">
                <i (click)="goTo(links.linkedIn)" class="bi bi-linkedin mx-2"></i>
                <i (click)="goTo(links.wa)" class="bi bi-whatsapp mx-2"></i>
                <i (click)="goTo(links.fb)" class="bi bi-facebook mx-2"></i>
                <i (click)="goTo(links.gitHub)" class="bi bi-github mx-2"></i>
            </div>
        </div>
        <!-- Your content here -->
    </div>

</div>