<div class="row">
  <div class="col-1"></div>
  <div class="col-5 d-flex justify-content-center align-items-center">
    <div>
      <div class="d-flex">
        <p class="font-mulish name-greeting">I'M&nbsp;&nbsp;<span class="font-roboto-slab mt-auto name">Aswinth
            GT</span></p>
      </div>
      <div class="font-noto-sans position">
        <p>MEAN Stack Developer & Python</p>
      </div>
      <div class="font-alegreya-sans contact">
        <button matRipple class="contact-button" (click)="goTo('contact')">Contact Me</button>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div>
      <img class="image-back"
        [priority]="true"
        [ngSrc]="commonService.isDarkMode ? 
        'assets/images/profile-dark.png' : 
        'assets/images/profile-light.png'" alt=""
        width="500" height="450">
    </div>
  </div>
</div>