.name {
  color: var(--highlight-color);
}

.contact {
  margin-top: 2dvw;
}

.contact-button {
  border: 0.35dvw solid var(--highlight-color);
  color: var(--highlight-color);
  border-radius: 0.6dvw;
  padding: 1dvw 3dvw;
  font-size: 2dvw;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  box-shadow: none;
}

@media screen and (max-width: 768px) {
  .name-greeting {
    font-size: 4dvw;
    line-height: 1;
  }

  .name {
    font-size: 6dvw;
  }

  .position {
    font-size: 3dvw;
  }

  .contact-button {
    font-size: 4dvw;
    padding: 1dvw 8dvw;
    z-index: 1;
  }

   .profile-container{
    position: relative;
   }

  .profile-detail {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    order: 2;
  }

  .profile-image {
    order: 1;
  }
}
