<div class="row profile-container">
  <div class="col-md-1"></div>
  <div
    class="col-md-5 d-flex justify-content-center align-items-center profile-detail"
  >
    <div class="w-100 d-grid justify-content-center">
      <div class="d-flex justify-content-center">
        <p class="font-mulish name-greeting">
          I'M&nbsp;&nbsp;<span class="font-roboto-slab mt-auto name"
            >Aswinth GT</span
          >
        </p>
      </div>
      <div class="font-noto-sans position d-flex justify-content-center">
        <p>MEAN Stack & Python Developer</p>
      </div>
      <div class="font-alegreya-sans contact d-flex justify-content-center">
        <button matRipple class="contact-button" (click)="goTo('contact')">
          Contact Me
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6 profile-image">
    <app-profile-image />
  </div>
</div>
